<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="controller_config_file" default=""/>

  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    
    <!-- Front Left Wheel -->
    <joint name="front_left_joint">
      <command_interface name="velocity">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

    
    <!-- Front Right Wheel -->
    <joint name="front_right_joint">
      <command_interface name="velocity">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    
    <!-- Back Left Wheel -->
    <joint name="back_left_joint">
      <command_interface name="velocity">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    
    <!-- Back Right Wheel -->
    <joint name="back_right_joint">
      <command_interface name="velocity">
        <param name="min">-50</param>
        <param name="max">50</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>

        <!-- LIFT JOINT -->
    <joint name="lift_joint">
      <command_interface name="position">
        <param name="min">0.0</param>
        <param name="max">0.35</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>


  </ros2_control>

  <!-- Gazebo ros2_control plugin -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(arg controller_config_file)</parameters>
      
      <ros>
        <namespace>/</namespace>
        <remapping>/clock:=/clock</remapping>
      </ros>
    </plugin>

    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
    <ros>
      <namespace>/</namespace>
      <remapping>odom:=odom</remapping>
      <remapping>/clock:=/clock</remapping> 
    </ros>
    <update_rate>50.0</update_rate>
    <body_name>base_link</body_name>
    <frame_name>odom</frame_name>
    <xyz_offset>0 0 0</xyz_offset>
    <rpy_offset>0 0 0</rpy_offset>
    <gaussian_noise>0.01</gaussian_noise>
  </plugin>

    <!-- <plugin name="gazebo_ros_planar_move" filename="libgazebo_ros_planar_move.so">
      <ros>
        <namespace>/</namespace>
        <remapping>cmd_vel:=cmd_vel</remapping>
        <remapping>odom:=odom</remapping>
      </ros>
      <update_rate>50</update_rate>
      <publish_rate>50</publish_rate>
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>
      <covariance_x>0.0001</covariance_x>
      <covariance_y>0.0001</covariance_y>
      <covariance_yaw>0.01</covariance_yaw>
    </plugin> -->
    
  </gazebo>

</robot>