# mux_config.yaml
twist_mux:
  ros__parameters:
    # This is the single topic your controller will subscribe to
    cmd_vel_out: 'mecanum_drive_controller/reference' 
    use_stamped: true # Use TwistStamped since both your code and Nav2 often use it

    topics:
      # 1. Teleop Input (Highest Priority)
      - name: 'teleop'
        topic: 'twist_mux/cmd_vel_teleop'
        timeout: '1.0'
        priority: '100' 

      # 2. Nav2 Input (Lower Priority)
      - name: 'navigation'
        topic: 'twist_mux/cmd_vel_nav'
        timeout: '0.1'  
        priority: '80'